header{
    width: 100%;
    height: 30px;
    background-color: orangered;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}
.header{
    display: flex;
    align-items: center;
    gap: 20px;
}
.header h4,i{
    color: white;
}
