* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: #fafafa;
}

/* Navbar */
.navbar {
    background: #e86528;
    padding: 15px 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.menu-icon {
    font-size: 24px;
    cursor: pointer;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    right: -300px;
    height: 100%;
    width: 300px;
    background: #fff;
    padding: 30px;
    box-shadow: -3px 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.sidebar.open {
    right: 0;
}

.close-icon {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 30px;
  height: 30px;
  background: #fff;           
  color: #e86528;             
  border-radius: 50%;
  border: 3px solid #e86528;  

  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
  transition: 0.2s ease;
   line-height: 0;
   padding-top: 2px;
   padding-left: 4px;
}

.close-icon:hover {
  border: 3px solid black; 
  color: black;         
}


.sidebar ul {
    margin-top: 40px;
}

.sidebar li {
    padding: 10px 0;
    list-style: none;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

.sidebar li:hover {
    color: #e86528;           
    transition: 0.2s;    
}


/* Search bar */
.hero {
    height: 350px;
    background: 
        linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)),  
        url('./assets/kitchen.jpg') center/cover no-repeat;
    text-align: center;
    color: white;
    padding-top: 80px;
}

.search-wrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.search-wrapper input {
    width: 300px;
    padding: 12px 20px;
    border-radius: 30px;
    border: none;
    outline: none;
}

.search-btn {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background: #e86528;
    color: white;
    border: none;
    cursor: pointer;
}

/* Section */
.section {
    padding: 30px;
}

.section h2 {
    margin-bottom: 20px;
}

/* Grid */
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
}

.card {
  position: relative;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.08);
  cursor: pointer;
  overflow: hidden;
}

.cat-badge {
  position: absolute;
  top: 5px;
  right: 5px;
  background: #e86528;          /* orange */
  color: #fff;
  font-size: 9px;
  font-weight: 500;
  padding: 3px 5px;
  border-radius: 4px;
  letter-spacing: 0.6px;
  text-transform: uppercase;   /* BEEF, CHICKEN */
  box-shadow: 0 2px 6px rgba(0,0,0,0.12);
  z-index: 3;
}

.card img {
  display:block;
  width:100%;
  height:120px;
  object-fit:cover;
  border-radius: 6px;
}